.delete-btn{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../../assets/icons/delete-btn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: .2;
}

.delete-btn:hover{
    opacity: .7;
    transition: all .4s;
}